<table id="calendar-table" class="table">
  <tr id="day-headers">
    <!-- blank cell to create times column -->
    <td></td>
    <% weekdays.forEach(element => { %>
    <td><%= element %></td>
    <% }); %>
  </tr>
</table>
