<h2>Tasks</h2>
<div id="task-grid" class="grid">
  <% tasks.forEach(element => { %>
  <div class="task-cell">
    <%= element.name %>
    <i class="<%= element.icon %>"></i>
  </div>
  <% }); %>
</div>
