<h2>Tasks</h2>
<table id="task-table" class="table table-borderless">
  <tr id="task-row">
    <% tasks.forEach(element => { %>
    <td class="task-cell"><%= element.name %></td>
    <% }); %>
  </tr>
</table>
