<p>Select a user:</p>
<form action="/" method="get">
  <select name="user" class="form-select">
    <option selected><%= selectedUser || '-' %></option>
    <% users.forEach(user => { %> <% if (user.name !== selectedUser) { %>
    <option value="<%= user.name %>"><%= user.name %></option>
    <% } %> <% }); %>
  </select>
  <button id="submit-btn" type="submit" class="btn btn-dark my-3">
    Change User
  </button>
</form>
