<p>Select a user:</p>
<form action="/" method="get">
  <select name="user" class="form-select">
    <option selected><%= selectedName|| '-' %></option>
    <% users.forEach(user => { %> <% if (user.name !== selectedName) { %>

    <option value="<%= user._id %>"><%= user.name %></option>

    <% } %> <% }); %>
  </select>
  <button id="submit-btn" type="submit" class="btn btn-dark my-3">
    Change User
  </button>
</form>
