:root {
  --bg-colour: #ffffff;
  --border: #999999;
  --border-hover: #333333;
  --bright1: cadetblue;
  --erase-task-bg: #f0f0f5;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  table {
    font-size: 0.75rem;
  }
}

.form-select {
  width: 20vw;
}

#weekdays div {
  border: 1px solid var(--border);
}

/* USERS */

.user-container {
  width: 40%;
  margin: auto;
}

/* TASKS */

.task-cell {
  display: flex;
  border-radius: 5px;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
}

.task-cell > p {
  margin: 0;
}

#task-grid .active-task {
  border: 4px solid rgb(0, 174, 255);
}

#erase-task {
  background-color: var(--erase-task-bg);
}

/* PLANNER */

#planner-table {
  width: 75%;
}

#planner-table td,
#planner-table th {
  vertical-align: middle;
  text-align: center;
  border: 1px solid var(--border);
}

#blank-cell {
  border-top: 0 !important;
  border-left: 0 !important;
}

.time-cell,
#planner-table th {
  padding: 1vh 1vw;
}

td > input {
  padding: 2vh 1vw;
  border: 0px;
  border-radius: 5px;
  width: 10vw;
}

.planner-cell {
  text-align: center;
  font-size: 0.8rem;
}

/* FORM */

.task-form,
.user-form {
  max-width: 600px;
  margin: 3em auto;
}

.form-group {
  margin: 1em;
}

.form-group label {
  margin: 0.6em 0;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 0.6em 1em;
  border: 1px solid var(--border);
  border-radius: 0.3em;
}

.form-group .btn {
  width: 100%;
  margin: 0.7em 0;
  padding: 0.6em 1em;
  background-color: var(--bright1);
}

.form-group .btn:hover {
  border: 2px solid var(--border-hover);
}

.form-inline {
  display: flex;
  flex-direction: row;
}
