.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

#weekdays div {
    border: 1px solid black;
}

/* TABLES */

.table-borderless td,
.table-borderless th {
    border: 0;
}

/* TASKS */

.task-cell {
    display: flex;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
}

#task-grid .active-task {
    background-color: blueviolet;
}