:root{
    --border: #999999;
    --border-hover: #333333;
    --bright1: cadetblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

#weekdays div {
    border: 1px solid var(--border);
}

/* TABLES */

.table-borderless td,
.table-borderless th {
    border: 0;
}

/* TASKS */

.task-cell {
    display: flex;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
}

#task-grid .active-task {
    background-color: blueviolet;
}

/* FORM */

.task-form, .user-form{
    max-width: 600px;
    margin: 3em auto;
}

.form-group{
    margin: 1em;
}

.form-group label{
    margin: .6em 0;
}

.form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    border: 1px solid var(--border);
    border-radius: .3em;
}

.form-group .btn{
    width: 100%;
    margin: .7em 0;
    padding: .6em 1em;
    background-color: var(--bright1);
}

.form-group .btn:hover{
    border: 2px solid var(--border-hover);
}