
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <div class="container">
      <%- include('../partials/nav'); %>

      <h3>Add Task</h3>
      <form method="POST" id="add_task">
        <div class="form-group">
            <label for="name">Task Name</label>
            <input type="text" name="name" placeholder="Study">
        </div>
        <div class="form-group">
            <label for="colour">Task Colour (Hex)</label>
            <input type="text" name="colour" placeholder="#0066ff">
        </div>
      </form>

      <hr>

      <h3>Add User</h3>
      <form method="POST" id="add_user">
        <div class="form-group">
            <label for="name">User Name</label>
            <input type="text" name="name" placeholder="Alec">
        </div>
      </form>

      <%- include('../partials/scripts'); %>

  </body>
</html>